.App {
  margin: auto;
  width: 350px;
  border: 2px solid #f5f7fa;
  background-color: #eef9fcd1;
}

section.connection__section {
  padding: 1rem 0rem 1rem 1rem;
}
.connection_header {
  margin-bottom: 10px;

}
.heading {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
}

.connection_count{
  background-color: #f29a49f5;
  padding: 0.1rem 0.3rem;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    border-radius: 50%;
}

.connection_images{
  display: flex;
  overflow-x: scroll;
  gap: 15px;
}

.connection_images::-webkit-scrollbar, .messages__chats::-webkit-scrollbar {
  display: none;
}

.messages__section {
  padding: 1.5rem 1rem;
  height: 62vh;
  border-radius: 26px 26px 0 0;
  overflow: hidden;
  background: white;
}
 .messages__header {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}
.messages_count{
  background-color: #f29a49;
  padding: 0.1rem 0.3rem;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    border-radius: 50%;
}


.messages__search > input {
  border: none;
  outline: none;
  width: 90px;
}


.messages__chats {
  height: 95%;
  overflow: scroll;
  margin-top: 1rem;
}





